body {
  margin: 0;
  padding: 0;
  background-color:yellow;
  overflow: hidden;
  }

#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

#city_1 {
  position: absolute;
  z-index: 300;
  margin-top: 25%;
  width: 100%;
}

#city_2{
  position: absolute;
  z-index: 100;
  margin-top: 5%;
  width: 100%;
}

#back_02{
  position: absolute;
  z-index: 200;
  margin-top: 5%;
  mix-blend-mode: hue;
}

#back_04{
  position: absolute;
  z-index: 200;
  margin-left: 55%;
  mix-blend-mode: hue;
}

#noise {
  position: absolute;
  z-index: 50;
}
